[user]
  email = lido@paglia.org
  name = Lido Paglia
[init]
  defaultBranch = main
[advice]
  addEmptyPathspec = false
  addIgnoredFile = false
  detachedHead = false
[alias]
  co = checkout
  s = status
  ss = status -s
  unstage = reset HEAD --
