[user]
  email = lido@paglia.org
  name = Lido Paglia
[init]
  defaultBranch = main
[advice]
  addEmptyPathspec = false
  addIgnoredFile = false
  detachedHead = false
[alias]
  co = checkout
  go = log --graph --oneline
  s = status
  ss = status -s
  unstage = reset HEAD --
[url "git@github.com:"]
  insteadOf = https://github.com/

